
.single-card {
	background-color: rgba(255, 255, 255, 0.2);
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 45% 45%;
	grid-column-gap: 3%;
	justify-content: center;
	width: 65%;
  border-radius: 30px;
  color: #FFF;
  margin: 0 auto 6rem;
  min-width: 20rem;
  padding: 1.5rem;
  text-align: left;
}

.single-card {
	& ul {
		list-style: none;
		padding: 0;
	}
}

.single-card {
	& h2 {
		font-size: 1.25rem;
		margin: .5rem 0;
	}
}

.formula-title {
	align-self: center;
	font-size: 1.5rem;
	grid-column: 1;
	margin: .25rem;
	text-transform: lowercase;
}

.formula-image {
	grid-column: 1;
	margin: 1rem auto;
	max-width: 20rem;
	width: 100%;
}

.single-formula-description {
	grid-column: 1;
	margin: 0;
}

.nutritional-management-header {
	align-self: center;
	grid-column: 1;
}

.usage-guidelines {
	display: grid;
	grid-auto-flow: column;
	grid-column: 1;
	grid-template-rows: 25% 25% 25% 25%;
}

.features-header {
	grid-column: 1;
}

.features-table {
	display: grid;
	grid-auto-flow: column;
	grid-column: 1;
	grid-template-rows: 25% 25% 25% 25%;
}

.nutritional-information-header {
	align-self: center;
	grid-column: 2;
	grid-row: 1;
	margin: .25rem;
}

.nutritional-information {
	grid-column: 2;
	grid-row: 2;
}

.nutritional-information {
	display: grid;
	grid-auto-flow: row;
}

.nutrient-headers {
	display: grid;
	grid-template-columns: 40% 27% 33%;
	border-bottom: 1.5px solid #FFF;
	margin-bottom: .2rem;none
}

.nutrient-header-1 {
	grid-column: 2;
	text-align: center;
}

.nutrient-header-2 {
	grid-column: 3;
	text-align: right;
}

.nutrient-row {
	display: grid;
	grid-template-columns: 50% 35% 15%;
	grid-auto-flow: row;
	border-bottom: .5px solid #FFF;
	margin: .25rem 0;
}

.serving-size {
	margin: .5rem 0;
}

.ingredients-text {
	grid-column: 2;
	grid-row: 3 / 8;
	text-transform: lowercase;
}