.details-card {
	animation: shrink-container 1s;
	background-color: rgba(255, 255, 255, 0.2);
	width: 80%;
  border-radius: 30px;
  color: #FFF;
  margin: 0 auto 6rem;	
  max-width: 80rem;
  min-width: 60rem;
  padding: 1.5rem 1.5rem 3rem; 
	@keyframes shrink-container {
  	0% {
  	  max-width: 70rem;
  	  width: 85%;
  	}
  
  	100% {
    	max-width: 80rem;
    	width: 80%;
  	}
	}
}

.single-card {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 3%;
	grid-row-gap: .75rem;
	grid-template-columns: 45% 45%;
	justify-content: center;
  margin-top: 1.5rem;
  text-align: left;
}

.single-card {
	& h2 {
		font-size: 1.25rem;
		margin: .5rem 0;
	}
}

.single-card {
	& ul {
		list-style: none;
		margin: .5rem 0;
		padding: 0;
	}
}

.single-card {
	& li {
		margin: .3rem 0;
	}
}

.single-card {
	& p {
		text-transform: lowercase;
	}
}
.formula-title {
	align-self: center;
	font-size: 1.5rem;
	grid-column: 1;
	margin: .25rem;
	text-transform: lowercase;
}

.formula-image {
	background-color: #FFF;
	grid-column: 1;
	max-height: 300px;
	width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .8;
}

.single-formula-description,
.single-formula-restrictions {
	grid-column: 1;
	margin-bottom: .5rem;
}

.single-formula-restrictions {
	margin-bottom: 1rem;
}

.nutritional-management-header {
	align-self: center;
	grid-column: 1;
}

.usage-guidelines,
.features-header,
.features-table {
	grid-column: 1;
}

.nutritional-information-header {
	align-self: center;
	grid-column: 2;
	grid-row: 1;
	margin: .25rem;
}

.nutritional-information {
	grid-column: 2;
	grid-row: 2;
	margin-bottom: 2rem;
	max-height: 300px;
	overflow: scroll;
}

.nutritional-information::-webkit-scrollbar-track {
	background: none;
}

.nutritional-information::-webkit-scrollbar {
	height: 0px;
	margin-bottom: 20px;
}

.nutritional-information {
	display: grid;
	grid-auto-flow: row;
}

.nutrient-headers {
	border-bottom: 1.5px solid #FFF;
	display: grid;
	grid-auto-flow: dense;
	grid-column-gap: 2.5%; 
	grid-template-columns: 20% 25% 25% 25%;
	margin-bottom: .2rem;
}

.nutrient-header-1 {
	grid-column: 2;
	padding-right: .75rem;
	text-align: right;
}

.nutrient-header-2 {
	grid-column: 3;
	padding-right: .75rem;
	text-align: right;
}

.nutrient-header-3 {
	grid-column: 4;
	padding-right: .75rem;
	text-align: right;
}

.nutrient-row {
	border-bottom: .5px solid #FFF;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 40% 30% 20% 10%;
	margin: .25rem 0;
}

.serving-size {
	margin: .5rem 0;
}

.ingredients-text {
	grid-column: 2;
	grid-row: 3 / 9;
}