.formula-cards {
  grid-column-gap: 3%;
  margin: 2rem auto;
  width: 95%;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-evenly; }

div .formula-container {
  animation: grow-container 1s;
  height: fit-content;
  margin: 0 auto 5rem;
  max-width: 70rem;
  width: 85%; }

@keyframes grow-container {
  0% {
    width: 25%; }
  100% {
    width: 85%; } }

@media screen and (max-width: 1100px) {
  .formula-cards {
    grid-column-gap: 5%;
    grid-template-columns: 45% 45%; } }

@media screen and (max-width: 750px) {
  .formula-cards {
    grid-column-gap: 5%;
    grid-template-columns: 95%;
    max-width: 350px; } }
