div {
	& .filter-container {
		animation: grow-filter 1s;
		height: 375px;
		min-width: 30rem;
		width: 45%;
		@keyframes grow-filter {
  
	  	0% {
	  	  width: 25%;
	  	  height: 250px;
	  	}
	  
	  	100% {
	    	width: 45%;
	    	height: 375px
	  	}
		}
	}	
}

.filter-form {
	display: flex;
	flex-direction: column;
	height: 270px;
	justify-content: space-evenly;
	margin: 1rem auto;
	width: 95%;
}

.filter-form {
	& div {
		width: 100%;
	}
}

.filter-form {
	& .button {
		background-color: #FFF;
	}
}