
div {
	& .search-container {
			animation: grow-search 1s;
			min-width: 30rem;
			width: 45%;
			@keyframes grow-search {
	  
		  	0% {
		  		width: 25%;
		  	}
		  
		  	100% {
		    	width: 45%;
		  	}
			}
	}	
}

.search-field {
	display: flex;
	flex-direction: column;
	height: 150px;
	justify-content: space-evenly;
	margin: 1rem auto;
	width: 95%;
}

.search-field {
	& .ui {
		& .button {
			background-color: $orange;
			border-style: solid solid solid none;
			border: 1px solid rgba(34, 36, 38, .15);
		}
	}
}
