@import "../App/App.scss";

div {
  & .search-container {
    animation: grow-search 1s;
    width: 45%;
    @keyframes grow-search {
      0% {
        width: 25%;
      }

      100% {
        width: 45%;
      }
    }
  }
}

.search-field {
  animation: grow-search-field 1s;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
  margin: 1rem auto;
  width: 95%;
  @keyframes grow-search-field {
    0% {
      width: 65%;
    }

    100% {
      width: 95%;
    }
  }
}

.search-field {
  & .ui {
    & .button {
      background-color: #fff;
      border-style: solid solid solid none;
      border: 1px solid rgba(34, 36, 38, 0.15);
    }
  }
}

@media screen and (max-width: 850px) {
  div {
    & .search-container {
      min-width: 30rem;
    }
  }
}
