
.formula-link {
  & .formula-card {
    border-radius: 30px;
    height: 100%;
    padding: 5px 15px;
    text-transform: lowercase;
    width: 100%;
  }
}

.formula-link {
  margin: 5px;
  min-width: 20rem;
  width: 100%;
}

.formula-card {
  & h2 {
    font-size: 1.4rem;
    text-align: left;
    min-height: 50px
  }
}

.formula-card-image {
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 135px;
  margin-bottom: .5rem;
  opacity: .8;
}

.formula-description {
  & .truncate-description { 
    text-align: left;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    font-size: 1rem;
    height: 1rem*1.4*5;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.usage-header {
  font-size: 1.25rem;
  margin: 1rem 0;
  text-align: left;
}

.formula-card {
  & ul {
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
    text-align: left;
  }
}

.formula-card {
  & li:nth-of-type(1n+4) {
    display: none;
  }
} 
