div .formula-card {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
}

a {
  width: 30%;
  height: 20%;
}

h2 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1rem;
  text-align: left;
}

ul {
  font-size: 1rem;
  text-align: left;

}

li {
  font-size: 1rem;
  text-align: left;

}
