
.single-card {
	background-color: rgba(255, 255, 255, 0.2);
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-flow: dense;
	width: 60%;
  border-radius: 30px;
  margin: 0 auto;
  min-width: 20rem;
  padding: 1.5rem;
  color: #FFF;
  text-align: left;
}

.single-card {
	& ul {
		list-style: none;
	}
}

.formula-title {
	grid-column: 1;
	text-transform: lowercase;
	font-size: 1.5rem;
}

.formula-image {
	grid-column: 1;
	width: 100%;
	margin: 1rem 0;
}

.single-formula-description {
	grid-column: 1;
}

.nutritional-management-header {
	grid-column: 1;
}

.usage-guidelines {
	grid-column: 1;
}

.features-header {
	grid-column: 1;
}

.features-table {
	grid-column: 1;
}

.nutritional-information-header {
	grid-column: 2;
	grid-row: 1;
}

.nutritional-information {
	grid-column: 2;
	grid-row: 2;
}

.ingredients-text {
	grid-column: 2;
	grid-row: 3;
}